{% extends "djangoapp/layout.html" %}

{% block content %}
<div id="body_block" class="container d-flex justify-content-center">
    <div class="card border-info my-5 w-75">
        <div class="card-header">About Us</div>
        <div class="card-body">
            <h4 class="card-title">Welcome to Best Cars dealership</h4>
            <p class="card-text">Home to the best cars in North America. We sell
                domestic
                and imported cars at
                reasonable prices.</p>
        </div>
    </div>
</div>
{% endblock content%}