{% extends "djangoapp/layout.html" %}

{% block content %}
<div id="body_block" class="container d-flex justify-content-center">
    <div class="card border-info my-5 w-75">
        <div class="card-header">Contact Us</div>
        <div class="card-body">
            <h4 class="card-title">Ways to contact</h4>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg text-center">Email: bestcars@icloud.com</div>
                    <div class="col-lg text-center">Phone: 1-800-800-8080</div>
                </div>
                <hr>
                <div class="row">
                    <div class="col text-center">OR</div>
                </div>
                <hr>
                <form action="#" class="form-control">
                    <label class="form-label mt-4">Fill out the form</label>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nameInput" placeholder="Name">
                        <label for="nameInput">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="emailInput" placeholder="mail@example.com">
                        <label for="emailInput">Your Email address</label>
                    </div>
                    <textarea class="form-control" id="exampleTextarea" rows="5" spellcheck="false"
                        placeholder="Type you message here"></textarea>
                    <div class="d-grid gap-2 mt-4">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}