{% extends "djangoapp/layout.html" %}
{% load static %}

{% block scripts %}
<script src="{% static 'djangoapp/dealer_table_filter.js' %}"></script>
{% endblock scripts %}

{% block content %}
<div id="body_block" class="container">
    <div class="row">
        <div class="col">
            <table id="dealer_table" class="table table-hover table-responsive" data-filter-control="true"
                data-sort-select-options="true" data-show-search-clear-button="true">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col" data-field="name" data-filter-control="input"
                            data-filter-control-placeholder="Search by Name">Dealer Name</th>
                        <th scope="col" data-field="city" data-filter-control="input"
                            data-filter-control-placeholder="Search by City">City</th>
                        <th scope="col" data-field="address" data-filter-control="input"
                            data-filter-control-placeholder="Search by Address">Address</th>
                        <th scope="col" data-field="zip" data-filter-control="input"
                            data-filter-control-placeholder="Search by Zip">Zip</th>
                        <th scope="col" data-field="state" data-filter-control="select">State</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dealer in dealerships %}
                    <tr>
                        <td>{{ dealer.id }}</td>
                        <td>
                            <a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{ dealer.full_name }}</a>
                        </td>
                        <td>{{ dealer.city }}</td>
                        <td>{{ dealer.address }}</td>
                        <td>{{ dealer.zip }}</td>
                        <td>{{ dealer.st }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}